<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.UserDao">
	<insert id="insertUser" parameterType="user">
		INSERT INTO b_user VALUES(0, #{id}, #{pw}, #{username})
	</insert>
	<select id="selectById" resultType="user" parameterType="String">
		SELECT * FROM b_user WHERE id LIKE #{id}
	</select>
</mapper>